[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/command-t.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git

[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
